<table id="users" class="table table-hover table-bordered table-striped nowrap" style="width:100%" data-source="<%= users_url(format: "json") %>">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Age</th>
    <th>DOB</th>
    <th>Edit</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

